body {
    background-color: black;
    color: orange;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Oswald', sans-serif;
    font-size: 1.75rem;
}

.player-1, .player-2, .game, .board__square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-1__name, .player-2__name {
    font-size: 10rem;
}

.board {
    width: 50%;
    min-width: 400px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: 100vh;
    
}

.board__square:nth-child(3n + 2) {
    border-left: 6px solid orange;
    border-right: 6px solid orange;
}

.board__square:nth-child(4), .board__square:nth-child(5), .board__square:nth-child(6) {
    border-top: 6px solid orange;
    border-bottom: 6px solid orange;
}

.board__square {
    width: 100%;
    font-size: 3rem;
    aspect-ratio: 1;
    box-sizing: border-box;
    font-size: 4rem;
}

.game {
    background: linear-gradient(rgb(79, 3, 79), black)
}

.game__title {
    font-family: 'Creepster', cursive;
    font-size: 4rem;
    text-align: center;
}